*{
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
    list-style:none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    background-color: none;
    color: #2B2B2B;
    border-width: 0.2px;
    border-color: #2B2B2B;
}

body{
    background-color: #F4F4F4;
}

.contents {
    width: 1080px;
    height: 5300px;
    /* background-color: azure; */
    margin: auto;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #2B2B2B;
    width: 1080px;
    height: 45px;
    margin-top: 50px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_text1 {
    font-size: 15px;
    margin-left: 5px;
    color:#F4F4F4;
}

.nav_text2 { 
    font-size: 12px;
    margin-right: 5px;
    color:#F4F4F4;
    font-weight: 100;
}

.article_box1 {
    width: 1080px;
    height: 872px;
    margin-top: 20px;
    border-style: solid;
    display: grid;
    grid-template-columns: 250px 550px 280px;
    grid-template-rows: 319px 147px 234px 172px;
}

.item1 {
    /* background-color: aqua; */
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: #2B2B2B solid 0.2px;
}

.text_1 {
    /* background-color: #F4F4F4; */
    font-size: 50px;
    margin-bottom: 240px;
    font-weight: 900;
}

.item2 {
    /* background-color: blue; */
    grid-row: 1/2;
    border-bottom: #2B2B2B solid 0.2px;
}

.img_2{
    /* background-color: aqua; */
    width: 476px;
    height: 318px;
}

.img_2>img {
    width: 476px;
    height: 318px;
    /* display: none; */
}

.item3 {
    /* background-color: rgb(92, 92, 153); */
    grid-row: 1/3;
    border-left: #2B2B2B solid 0.2px;
}
.item4 {
    /* background-color: rgba(202, 66, 188, 0.826); */
    grid-row: 2/3;
    display: flex;
    align-items: flex-end;
    font-size: 27px;
}

.text_4 {
    line-height: 30px;
    /* background-color: #F4F4F4;] */
    /* margin-left: 5px; */
}

.text_4>ol>li:first-child {
    border-bottom: #2B2B2B solid 0.2px;
    /* background-color: #F4F4F4; */
}

.text_4>ol>li:nth-child(2) {
    /* background-color: #F4F4F4; */
    border-bottom: #2B2B2B solid 0.2px;
}


.item5 {
    /* background-color: rgba(16, 166, 51, 0.612); */
    grid-row: 3/4; 
    display: flex;
    border-top: #2B2B2B solid 0.2px;

}

.itembox_5_1 {
    width: 275px;
    height: 234px;
    /* background-color: #F4F4F4; */
    display: flex;
}

.itembox_5_2 {
    width: 275px;
    height: 234px;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    font-size: 27px;
    line-height: 60px;
}

.text5_2>sup {
    font-size: 13px;
}

.text5_2 {
    margin-right: 25px;
}

.text5_4 {
    font-size: 15px;
    margin-right: 40px;
}

.itembox_5_1 {
    width: 275px;
    height: 234px;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    font-size: 27px;
    line-height: 39px;
}

.text5_1 {
    margin-right: 40px;
}

.text5_3 {
    font-size: 15px;
    text-align: right;
    margin-right: 40px;
}

.text5_3>ol>li:nth-child(3) {
    font-weight: 700;
}

.text5_1>sup {
    font-size: 13px;
}



.item6 {
    /* background-color: rgb(106, 134, 45); */
    grid-row: 3/5;
    border-left: #2B2B2B 0.2px solid;
    
}

.img6{
    /* background-color: aqua; */
    width: 270px;
    height: 405px;
}

.img6>img {
    height: 405px;
}


.item7 {
    /* background-color: rgb(255, 0, 17); */
    grid-column: 1/3;
    border-top: #2B2B2B solid 0.2px;
}



.article_box2 {
    width: 1080px;
    height: 1169px;
    margin-top: 170px;
    /* border-style: solid; */
    display: grid;
    grid-template-columns: 66px 330px 304px 195px 185px;
    grid-template-rows: 174px 98px 332px 58px 58px 147px 31px 271px;
}

.item10 {
    /* background-color: red; */
    grid-column: 1/6;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 215px 258px 607px ;
    grid-template-rows: 117px 57px;
}

.item10_box1 {
    grid-column: 2/3;
    grid-row: 1/3;
    /* border-style: solid; */
}

.item10_box2 {
    font-size: 50px;
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    align-items: flex-end;
}

.box2_text1 {
    display: flex;
}

.box2_text1>sup {
    font-size: 14px;
}

.item10_box3 {
/* background-color: #f3c7c7; */
grid-column: 3/4;
grid-row: 2/3;
border-top: #2B2B2B 0.2px solid;
}


.item11 {
    grid-row: 2/6;
    grid-column: 1/1;
    display: flex;
    /* background-color: aquamarine; */
    border-left: #2B2B2B solid 0.2px;
    border-right: #2B2B2B solid 0.2px;
}

.item12 {
    /* background-color: antiquewhite; */
    grid-column: 2/4;
    grid-row: 2/3;
    border-bottom: #2B2B2B solid 0.2px;
}

.item13 {
    /* background-color: rgba(52, 127, 102, 0.33); */
    grid-column: 2/4;
    grid-row: 3/4;
    border-bottom: #2B2B2B solid 0.2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item14 {
    /* background-color: beige; */
    grid-column: 2/4;
    grid-row: 4/5;
    border-bottom: #2B2B2B solid 0.2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li1 {
    margin-left: 15px;
}

.li3 {
    margin-right: 106px;
}

.item15 {
    /* background-color: rgb(164, 164, 52); */
    grid-column: 2/4;
    grid-row: 5/6;
    border-bottom: #2B2B2B solid 0.2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.li4 {
    margin-left: 15px;
}

.li5 {
    margin-left: 30px;
}

.li6 {
    margin-right: 106px;
}

.item16 {
    /* background-color: rgb(178, 178, 146); */
    grid-column: 4/6;
    grid-row: 2/6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-top: none;
}

.li7 {
    font-size: 50px;
    align-self: flex-end;
    padding: 20px;
}

.li8 {
    width: 197px;
    height: 243px;
    line-height: 20px;
    /* background-color: blue; */
    text-align: right;
    margin-left: 20px;
    font-size: 15px;
    margin-bottom: 60px;
}

.item17 {
    grid-column: 1/6;
    grid-row: 6/7;
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-size: 14px;
    border-style: solid;
    border-top: none;
}

.li9 {
    width: 600px;
    height: 105px;
    margin-left: 76px;
    margin-top: 20px;
}

.li10 {
    width: 286px;
    height: 105px;
    margin-left: 46px;
    
}

.item18 {
    /* background-color: aqua; */
    grid-column: 1/6;
    grid-row: 7/8;
}

.item19 {
    /* background-color: rgb(124, 138, 138); */
    grid-column: 1/3;
    grid-row: 8/9;
    display: flex;
    font-size:100px;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 40px;
    border-left: #2B2B2B solid 0.2px;
}

.item20 {
    /* background-color: gray; */
    grid-column: 3/6;
    grid-row: 8/9;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 10px;
    border-right: #2B2B2B solid 0.2px;
    border-left: #2B2B2B solid 0.2px;
}


.article_box3 {
    width: 1080px;
    height: 1095px;
    margin-top: 170px;
    /* border-style: solid; */
    display: grid;
    grid-template-columns: 174px 203px 19px 127px 223px 184px 24px 125px;
    grid-template-rows: 166px 258px 55px 162px 109px 238px 108px;
}



.item21 {
    /* background-color: aqua; */
    
    grid-column: 1/10;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 215px 258px 607px ;
    grid-template-rows: 117px 49px;
    border-left: none;
}

.item21_box1 {
    /* background-color: rgba(250, 235, 215, 0.187); */
    grid-column: 2/3;
    grid-row: 1/3;
    /* border-style: solid; */
}

.item21_box1>img {
    width: 258px;
    height: 165px;
}


.item21_box2 {
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 50px;
    display: flex;
    align-items: flex-end;
}

.box2_text2 {
    display: flex;
}

.box2_text2>sup {
    font-size: 15px;
}


.item21_box3 {
    /* background-color: #f3c7c7; */
    grid-column: 3/4;
    grid-row: 2/3;
    border-top: #2B2B2B 0.2px solid;
}

.item22 {
    /* background-color:red; */
    grid-column: 1/3;
    grid-row: 2/4;
    border-top: #2B2B2B solid 0.2px;
}

.item23 {
    /* background-color: aqua; */
    grid-column: 1/2;
    grid-row: 3/4;
    border-style: solid;
    border-bottom: none;
    border-left: none;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
}

.item23>sup {
    display: flex;
    font-size: 15px;
}

.item24 {
    /* background-color: rgb(57, 143, 143); */
    grid-column: 1/3;
    grid-row: 4/7;
    border-style: solid;
    border-top: none;
    border-right: none;
    display: grid;
    grid-template-columns:95px 228px 54px;
    grid-template-rows: 63px 63px 63px 63px 63px 63px 63px 68px;
    font-size: 20px;
    font-weight: 100;
    border-top: #2B2B2B solid 0.2px;
}

.section0 {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 300;
    padding-left: 5px;
}

.section1{
    /* background-color: aqua; */
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
}

.section2{
    /* background-color: red; */
    grid-column: 2/3;
    grid-row: 1/2;
    border-right: #2B2B2B solid 0.2px;
    border-left: #2B2B2B solid 0.2px;
}

.section3{
    /* background-color: blue; */
    grid-column: 3/4;
    grid-row: 1/2;
}

.section4{
    grid-column: 1/2;
    grid-row: 2/3;
    border-top: #2B2B2B solid 0.2px;
    display: flex;
    justify-content: center;
}

.section5{
    grid-column: 2/3;
    grid-row: 2/3;
    border-top: #2B2B2B solid 0.2px;
    border-right: #2B2B2B solid 0.2px;
    border-left: #2B2B2B solid 0.2px;
}

.section6{
    grid-column: 3/4;
    grid-row: 2/3;
    border-top: #2B2B2B solid 0.2px;
}

.section7{
    grid-column: 1/2;
    grid-row: 3/4;
    border-top: #2B2B2B solid 0.2px;
    display: flex;
    justify-content: center;
}

.section8{
    grid-column: 2/3;
    grid-row: 3/4;
    border-top: #2B2B2B solid 0.2px;
    border-right: #2B2B2B solid 0.2px;
    border-left: #2B2B2B solid 0.2px;
}

.section9{
    grid-column: 3/4;
    grid-row: 3/4;
    border-top: #2B2B2B solid 0.2px;
}

.section10{
    grid-column: 1/2;
    grid-row: 4/5;
    border-top: #2B2B2B solid 0.2px;
    display: flex;
    justify-content: center;
}

.section11{
    grid-column: 2/3;
    grid-row: 4/5;
    border-top: #2B2B2B solid 0.2px;
    border-right: #2B2B2B solid 0.2px;
    border-left: #2B2B2B solid 0.2px;
}

.section12{
    grid-column: 3/4;
    grid-row: 4/5;
    border-top: #2B2B2B solid 0.2px;
}

.section13{
    grid-column: 1/2;
    grid-row: 5/6;
    border-top: #2B2B2B solid 0.2px;
    display: flex;
    justify-content: center;
}

.section14{
    grid-column: 2/3;
    grid-row: 5/6;
    border-top: #2B2B2B solid 0.2px;
    border-right: #2B2B2B solid 0.2px;
    border-left: #2B2B2B solid 0.2px;
}

.section15{
    grid-column: 3/4;
    grid-row: 5/6;
    border-top: #2B2B2B solid 0.2px;
}

.section16{
    grid-column: 1/2;
    grid-row: 6/7;
    border-top: #2B2B2B solid 0.2px;
}

.section17{
    grid-column: 2/3;
    grid-row: 6/7;
    border-top: #2B2B2B solid 0.2px;
    border-right: #2B2B2B solid 0.2px;
    border-left: #2B2B2B solid 0.2px;
}

.section18{
    grid-column: 3/4;
    grid-row: 6/7;
    border-top: #2B2B2B solid 0.2px;
}

.section19{
    grid-column: 1/2;
    grid-row: 7/8;
    border-top: #2B2B2B solid 0.2px;
    display: flex;
    justify-content: center;
}

.section20{
    grid-column: 2/3;
    grid-row: 7/8;
    border-top: #2B2B2B solid 0.2px;
    border-right: #2B2B2B solid 0.2px;
    border-left: #2B2B2B solid 0.2px;
}

.section21{
    grid-column: 3/4;
    grid-row: 7/8;
    border-top: #2B2B2B solid 0.2px;
}

.section22{
    grid-column: 1/2;
    grid-row: 8/9;
    border-top: #2B2B2B solid 0.2px;
}

.section23{
    grid-column: 2/3;
    grid-row: 8/9;
    border-top: #2B2B2B solid 0.2px;
    border-right: #2B2B2B solid 0.2px;
    border-left: #2B2B2B solid 0.2px;
}

.section24{
    grid-column: 3/4;
    grid-row: 8/9;
    border-top: #2B2B2B solid 0.2px;
}




.item25 {
    /* background-color: rgb(57, 143, 143); */
    grid-column: 1/3;
    grid-row: 7/8;
    border-bottom: #2B2B2B solid 0.2px;
}

.item26 {
    /* background-color: rgb(57, 143, 143); */
    grid-column: 3/4;
    grid-row: 2/8;
    border-bottom: none;
}

.item27 {
    /* background-color: rgb(196, 224, 224); */
    grid-column: 4/7;
    grid-row: 2/4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-top: #2B2B2B solid 0.2px;
    border-bottom: #2B2B2B solid 0.2px;
}

.item27_img {
    width: 407px;
    height: 179px;
    /* background-color: coral; */
}

.item28 {
    /* background-color: rgb(105, 116, 116); */
    grid-column: 5/7;
    grid-row: 4/5;
    display: flex;
    font-size: 120px;
    font-weight: 300;
    justify-content: flex-end;
    border-bottom: none;
}

.item29 {
    /* background-color: rgb(114, 116, 105); */
    grid-column: 4/7;
    grid-row: 5/6;
    padding: 5px;
    font-size: 14px;
    border-top: #2B2B2B solid 0.2px;
    border-bottom: #2B2B2B solid 0.2px;
}

.item30 {
    /* background-color: rgb(157, 196, 247); */
    grid-column: 4/6;
    grid-row: 6/8;
    border-bottom: #2B2B2B solid 0.2px;
}

.item30>img {
    width: 330px;
    margin-top: 10px;
}

.item31 {
    /* background-color: blue; */
    grid-column: 6/7;
    grid-row: 6/8;
    border-bottom: #2B2B2B solid 0.2px;
}

.item32 {
    /* background-color: rgb(56, 110, 180); */
    grid-column: 7/8;
    grid-row: 2/8;
}

.item33 {
    /* background-color: rgb(177, 195, 219); */
    grid-column: 8/9;
    grid-row: 4/8;
    padding: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-style: solid;
}


.article_box4 {
    width: 1080px;
    height: 1157px;
    margin-top: 170px;
    /* border-style: solid; */
    display: grid;
    grid-template-columns: 182px 267px 380px 251px;
    grid-template-rows: 265px 33px 95px 75px 75px 75px 146px 393px;
}


.item41 {
    /* background-color: rebeccapurple; */
    border-style: solid;
    grid-column: 1/5;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
    align-items: center;
    text-align: center;
    padding-right: 35px;
}

.item42 {
    /* background-color: rgb(176, 146, 205); */
    grid-column: 1/2;
    grid-row: 3/9;
    border-style: solid;
}

.item43 {
    /* background-color: rgb(232, 220, 244); */
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #2B2B2B solid 0.2px;
    border-bottom: #2B2B2B solid 0.2px;
    border-right: #2B2B2B solid 0.2px;
}

.item44 {
    /* background-color: rgb(57, 22, 92); */
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-bottom: #2B2B2B solid 0.2px;
    border-right: #2B2B2B solid 0.2px;
}

.item45 {
    /* background-color: rgb(22, 92, 61); */
    grid-column: 2/3;
    grid-row: 5/6;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-bottom: #2B2B2B solid 0.2px;
    border-right: #2B2B2B solid 0.2px;
}

.item46 {
    /* background-color: rgb(148, 109, 187); */
    grid-column: 2/3;
    grid-row: 6/7;
    border-bottom: #2B2B2B solid 0.2px;
    border-right: #2B2B2B solid 0.2px;
}

.item47 {
    /* background-color:green; */
    grid-column: 3/4;
    grid-row: 3/4;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #2B2B2B solid 0.2px;
    border-bottom: #2B2B2B solid 0.2px;
    border-right: #2B2B2B solid 0.2px;
}

.item48 {
    /* background-color:rgb(111, 219, 111); */
    grid-column: 3/4;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-bottom: #2B2B2B solid 0.2px;
    border-right: #2B2B2B solid 0.2px;
}

.item49 {
    /* background-color:rgb(185, 197, 185); */
    grid-column: 3/4;
    grid-row: 5/6;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-bottom: #2B2B2B solid 0.2px;
    border-right: #2B2B2B solid 0.2px;
}

.item50 {
    /* background-color:rgb(116, 126, 116); */
    grid-column: 3/4;
    grid-row: 6/7;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-bottom: #2B2B2B solid 0.2px;
    border-right: #2B2B2B solid 0.2px;
}

.item51 {
    /* background-color:rgb(177, 205, 94); */
    grid-column: 4/5;
    grid-row: 3/7;
    border-style: solid;
    border-left: none;
}

.item52 {
    /* background-color: bisque; */
    grid-column: 2/5;
    grid-row: 7/8;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    padding-right: 15px;
    border-right: #2B2B2B solid 0.2px;
    line-height: 20px;
}

.item53 {
    /* background-color: royalblue; */
    grid-column: 2/5;
    grid-row: 8/9;
    border-style: solid;
    border-top: none;
    border-left: none;
}

.item53_img {
    width: 392px;
    height: 284px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.item53_img>img {
    width: 392px;
    height: 284px;
}

.article_box5 {
    display: flex;
    /* border-style: solid; */
    justify-content: center;
    margin-top: 200px;
    padding: 20px;
}

.item5 {
    padding-left: 25px;
    padding-right: 25px;
    /* border-bottom: #2B2B2B solid 0.2px; */
    border-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
}